<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.weiboinfo.rsjBaseService.dao.SurveyAnswerSheetMapper" >
  <resultMap id="BaseResultMap" type="com.weiboinfo.rsjBaseService.entry.SurveyAnswerSheet" >
    <id column="AS_ID" property="asId" jdbcType="VARCHAR" />
    <result column="S_ID" property="sId" jdbcType="VARCHAR" />
    <result column="AS_RESULT" property="asResult" jdbcType="VARCHAR" />
    <result column="AS_POSTDATE" property="asPostdate" jdbcType="VARCHAR" />
    <result column="AS_USERIP" property="asUserip" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    AS_ID, S_ID, AS_RESULT, AS_POSTDATE, AS_USERIP
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.weiboinfo.rsjBaseService.entry.SurveyAnswerSheetExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from SURVEY_ANSWERSHEET
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from SURVEY_ANSWERSHEET
    where AS_ID = #{asId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from SURVEY_ANSWERSHEET
    where AS_ID = #{asId,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.weiboinfo.rsjBaseService.entry.SurveyAnswerSheetExample" >
    delete from SURVEY_ANSWERSHEET
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.weiboinfo.rsjBaseService.entry.SurveyAnswerSheet" >
    insert into SURVEY_ANSWERSHEET (AS_ID, S_ID, AS_RESULT, 
      AS_POSTDATE, AS_USERIP)
    values (#{asId,jdbcType=VARCHAR}, #{sId,jdbcType=VARCHAR}, #{asResult,jdbcType=VARCHAR}, 
      #{asPostdate,jdbcType=VARCHAR}, #{asUserip,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.weiboinfo.rsjBaseService.entry.SurveyAnswerSheet" >
    insert into SURVEY_ANSWERSHEET
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="asId != null" >
        AS_ID,
      </if>
      <if test="sId != null" >
        S_ID,
      </if>
      <if test="asResult != null" >
        AS_RESULT,
      </if>
      <if test="asPostdate != null" >
        AS_POSTDATE,
      </if>
      <if test="asUserip != null" >
        AS_USERIP,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="asId != null" >
        #{asId,jdbcType=VARCHAR},
      </if>
      <if test="sId != null" >
        #{sId,jdbcType=VARCHAR},
      </if>
      <if test="asResult != null" >
        #{asResult,jdbcType=VARCHAR},
      </if>
      <if test="asPostdate != null" >
        #{asPostdate,jdbcType=VARCHAR},
      </if>
      <if test="asUserip != null" >
        #{asUserip,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.weiboinfo.rsjBaseService.entry.SurveyAnswerSheetExample" resultType="java.lang.Integer" >
    select count(*) from SURVEY_ANSWERSHEET
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update SURVEY_ANSWERSHEET
    <set >
      <if test="record.asId != null" >
        AS_ID = #{record.asId,jdbcType=VARCHAR},
      </if>
      <if test="record.sId != null" >
        S_ID = #{record.sId,jdbcType=VARCHAR},
      </if>
      <if test="record.asResult != null" >
        AS_RESULT = #{record.asResult,jdbcType=VARCHAR},
      </if>
      <if test="record.asPostdate != null" >
        AS_POSTDATE = #{record.asPostdate,jdbcType=VARCHAR},
      </if>
      <if test="record.asUserip != null" >
        AS_USERIP = #{record.asUserip,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update SURVEY_ANSWERSHEET
    set AS_ID = #{record.asId,jdbcType=VARCHAR},
      S_ID = #{record.sId,jdbcType=VARCHAR},
      AS_RESULT = #{record.asResult,jdbcType=VARCHAR},
      AS_POSTDATE = #{record.asPostdate,jdbcType=VARCHAR},
      AS_USERIP = #{record.asUserip,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.weiboinfo.rsjBaseService.entry.SurveyAnswerSheet" >
    update SURVEY_ANSWERSHEET
    <set >
      <if test="sId != null" >
        S_ID = #{sId,jdbcType=VARCHAR},
      </if>
      <if test="asResult != null" >
        AS_RESULT = #{asResult,jdbcType=VARCHAR},
      </if>
      <if test="asPostdate != null" >
        AS_POSTDATE = #{asPostdate,jdbcType=VARCHAR},
      </if>
      <if test="asUserip != null" >
        AS_USERIP = #{asUserip,jdbcType=VARCHAR},
      </if>
    </set>
    where AS_ID = #{asId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.weiboinfo.rsjBaseService.entry.SurveyAnswerSheet" >
    update SURVEY_ANSWERSHEET
    set S_ID = #{sId,jdbcType=VARCHAR},
      AS_RESULT = #{asResult,jdbcType=VARCHAR},
      AS_POSTDATE = #{asPostdate,jdbcType=VARCHAR},
      AS_USERIP = #{asUserip,jdbcType=VARCHAR}
    where AS_ID = #{asId,jdbcType=VARCHAR}
  </update>
</mapper>